* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --White: #ffffff;
  --Rhythm: #69779b;
  --CaribbeanGreen: #00c5a2;
  --OldLavender: #756c83;
  --AmericanPurple: #432160;
  --ChineseBlue: #415b90;
  --DarkSlateGray: #314a52;
  --MaximumRedPurple: #a03c78;
  --DarkLavender: #6f539b;
  --MetallicBlue: #3c5186;
  --TiffanyBlue: #0fabbc;
  --PoliceBlue: #394a6d;
  --Corn: #fbeb5b;
  --LimeGreen: #4be133;
  --OldRose: #394a6d;
  --Magnolia: #f4f3fe;
  --ChineseSilver: #cccccc;
  --LavenderGray: #c5c0db;
  --DeepGreen-CyanTurquoise: #206d62;

  // FONT STYLE
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
}

.DarkLavender {
  background-color: var(--DarkLavender);
}
.DeepGreen-CyanTurquoise {
  background-color: var(--DeepGreen-CyanTurquoise);
}
.LavenderGray {
  background-color: var(--LavenderGray);
}
.DarkSlateGray {
  background-color: var(--DarkSlateGray);
}
.ChineseBlue {
  background-color: var(--ChineseBlue);
}
.ChineseSilver {
  background-color: var(--ChineseSilver);
}
.Corn {
  background-color: var(--Corn);
}
.Magnolia {
  background-color: var(--Magnolia);
}
.OldRose {
  background-color: var(--OldRose);
}
.LimeGreen {
  background-color: var(--LimeGreen);
}
.PoliceBlue {
  background-color: var(--PoliceBlue);
}
.TiffanyBlue {
  background-color: var(--TiffanyBlue);
}
.MetallicBlue {
  background-color: var(--MetallicBlue);
}
.MaximumRedPurple {
  background-color: var(--MaximumRedPurple);
}
//
.DarkCyan {
  background-color: var(--DarkCyan);
}
.TurkishRose {
  background-color: var(--TurkishRose);
}
.Rhythm {
  background-color: var(--Rhythm);
}
.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}
.AmericanPurple {
  background-color: var(--AmericanPurple);
}
.TurkishRose {
  background-color: var(--TurkishRose);
}
.Gunmetal {
  background-color: var(--Gunmetal);
}
.ViridianGreen {
  background-color: var(--ViridianGreen);
}
.Rhythm {
  background-color: var(--Rhythm);
}
.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}
.OldLavender {
  background-color: var(--OldLavender);
}

.White {
  background-color: var(--White);
  color: var(--White);
}
.WhiteC {
  color: var(--White);
}
a {
  color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Montserat);
  color: var(--Gunmetal);
  font-weight: 500;
  line-height: 110%;
}

h1 {
  font-size: 48px;
}
h2 {
  font-weight: 500;
  font-size: 43px;
  margin-bottom: 60px;
  line-height: 52px;
}
h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 48px;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}
h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}
@mixin h6 {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin p {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
}
hr {
  border: 1px solid var(--Gunmetal);
  margin: 40px 0;
}
ul {
  li {
    @include p;
  }
}
a,
label,
::placeholder {
  font-family: var(--Montserat);
}
p,
span,
li {
  @include p;
}
img {
  width: 100%;
  max-width: 100%;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
@mixin button {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
button {
  @include button;
  &:disabled {
    opacity: 0.5;
    background-color: unset;
    color: var(--ChineseSilver);
    border: 1px solid rgba(204, 204, 204, 0.4);
  }
}

.default-btn {
  @include button;
  background-color: var(--ChineseSilver);
}
.important-btn {
  @include button;
  background-color: var(--DarkCyan);
  color: var(--White);
}
.primary-btn {
  @include button;
  background-color: var(--Gunmetal);
  color: var(--White);
}
.danger-btn {
  @include button;
  background-color: #ea5f5e;
  color: var(--White);
}
nav {
  height: 60px;
  padding: 18px 0;
  background-color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
  .navbar {
    img {
      width: 177px;
      height: 25px;
      object-fit: cover;
    }
  }
}
.navlinks {
  display: flex;
  justify-content: space-around;
  li {
  }
  .dropdown {
    &:after {
      content: url(https://www.svgrepo.com/show/304563/arrow-down.svg);
      position: relative;
      top: 7px;
      margin-left: 5px;
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

$tab-label-height: 40px;
$tab-content-height: 300px;
.tab {
  float: left;

  &__group {
    @include clearfix;
    position: relative;
    height: $tab-label-height + $tab-content-height;
  }

  &__label {
    display: inline-block;
    padding: 0 20px;
    margin-right: 5px;
    font-size: 16px;
    line-height: $tab-label-height;
    font-weight: 500;
    cursor: pointer;

    // Active tab styles
    color: var(--DarkCyan);
    border-bottom: 3px solid var(--DarkCyan);
  }

  &__content {
    position: absolute;
    width: 100%;
    // height: $tab-content-height;
    top: $tab-label-height;
    left: 0;
    right: 0;
    margin: 10px 0;
    // padding: 20px;s
    overflow-x: auto;
    background: #fff;
  }

  &__radio {
    display: none;

    &:not(:checked) {
      // Inactive tab styles
      & ~ .tab__label {
        font-size: 16px;
        font-weight: 400;
        color: var(--Gunmetal);
        background: transparent;
        border-bottom: 0;
      }

      & ~ .tab__content {
        display: none;
      }
    }
  }
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}
#overlay_ {
  display: none;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #2c333a52;
  .it_card {
    background-color: var(--White);
    // padding: 20px;
    max-width: 550px;
    min-height: 330px;
    .it_top {
      height: 70px;
      background-color: var(--ChineseSilver);
      text-align: center;
      padding-top: 20px;
      h3 {
        align-self: center;
      }
    }
    .it_content {
      padding: 20px;
    }

    .bbtn {
      display: flex;
      button {
        width: 25%;
        margin-right: 45px;
      }
      div {
        margin-top: 40px;
        font-weight: 600;
        cursor: pointer;
        font-family: var(--Montserat);
      }
    }
  }
}
table {
  border-collapse: collapse;
  font-family: var(--Montserat);
  margin: 25px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  thead {
    tr {
      background-color: var(--LavenderGray);
      text-align: left;
      border: 1px solid var(--Gunmetal);
      color: var(--Gunmetal);
      font-weight: 500;
      &:nth-of-type(1) {
        background-color: #f3f3f3;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid var(--Gunmetal);
      font-size: 15px;
      &:nth-of-type(1) {
        // background-color: #f3f3f3;
        // font-family: Nunito;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  th,
  td {
    padding: 18px;
  }
}
.pagination {
  display: inline-block;
  // max-width: 612px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  // font-style: var(--Nunito);
}

.pagination a {
  color: black;
  float: left;
  font-weight: 600;
  // font-style: var(--Nunito);
  padding: 8px 16px;
  margin: 0 5px;
  text-decoration: none;
  &:hover {
    color: var(--DarkCyan);
  }
}

.pagination a.active {
  // background-color: #4caf50;
  border-bottom: 3px solid var(--DarkCyan);
  font-weight: 600;
  // border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.top_tool {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--ChineseSilver);
    display: inline-block;
    position: absolute;
    top: -12px;

    left: 90%;
    transform: rotate(45deg);
  }
}
.bottom_tool {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--ChineseSilver);
    display: inline-block;
    position: absolute;
    bottom: -12px;

    left: 48%;
    transform: rotate(45deg);
  }
}
.right_tool {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--ChineseSilver);
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 48%;
    transform: rotate(45deg);
  }
}
.tools_tip {
  background-color: var(--ChineseSilver);
  padding: 16px;
  border-radius: 5px;
  margin: 30px 0;
  position: relative;

  p {
    margin: 0;
  }
}
pre {
  background-color: #f3f3f3;
  // text-align: left;
  font-size: 18px;
  padding: 20px;
  max-height: 450px;
  overflow: scroll;
}

.input_parent {
  margin: 25px 0;
  height: 50px;
  font-style: var(--Montserat);
  position: relative;
  background-color: transparent;
  label {
    position: absolute;
    left: 15px;
    z-index: -2;
    top: 15px;
    transition: top 0.4s;
  }
}

input {
  width: 100%;
  font-style: var(--Montserat);
  padding: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  outline: 0;
  background-color: transparent;
}

.radio {
  display: block;
  cursor: pointer;
  user-select: none;
  text-align: left;
  // margin-top: 20px;
  p {
    opacity: 50%;
    margin-top: 0;
    margin-left: 40px;
  }

  input {
    display: none;
    &:disabled {
      display: none;
    }

    & + span {
      display: inline-block;
      position: relative;
      padding-left: 40px;
      font-weight: 500;
      font-size: 16px;
      margin-top: 10px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        border: 1px solid #00838f;
        // box-sizing: border-box;
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #00838f;
        position: absolute;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 6px;
        transform: scale(0, 0);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    & + h3 {
      display: block;
      position: relative;
      padding-top: 23px;
      margin: 10px;
      font-size: 18px;
      font-weight: 600;
      padding-left: 5px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        border: 1px solid #00838f;
        // box-sizing: border-box;
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #00838f;
        position: absolute;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 6px;
        transform: scale(0, 0);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked + span::after,
    &:checked + h3::after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
.radio_disabled {
  display: block;
  cursor: pointer;
  user-select: none;
  text-align: left;
  // margin-top: 20px;

  input:disabled {
    display: none;

    & + span {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-top: 10px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background-color: #f4f3fe;
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #c5c0db;
        position: absolute;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 6px;
        transform: scale(0, 0);
        // opacity: 0;
        transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
  }
}

.check_parent {
  .checkbox {
    display: block;
    font-family: var(--Nunito);
    position: relative;
    padding-left: 40px;
    // margin-bottom: 12px;
    padding-top: 10px;
    transition: 0.2s;
    font-size: 16px;
    font-weight: 400;
    -webkit-user-select: none;
    border-radius: 5px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    p {
      opacity: 50%;
    }
    input {
      position: absolute;
      width: auto;
      transition: 0.2s ease;
      opacity: 0;
      border-radius: 5px;
      cursor: pointer;
      &:checked ~ .checkmark {
        background-color: var(--DarkCyan);
        &:after {
          display: block;
        }
      }
      &:disabled ~ .checkmark {
        background-color: var(--ChineseSilver);
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      cursor: pointer;
      left: 0;
      border-radius: 5px;
      height: 25px;
      transition: 0.2s ease;
      width: 25px;
      background-color: #f4f3fe;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 4px;
        width: 5px;
        height: 10px;
        // border-radius: 5px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    // &:hover input ~ .checkmark {
    //   border: 1px solid var(--DarkCyan);
    // }
  }
}

input:focus ~ label {
  top: -15px;
  color: #00838f;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  z-index: 2;
}
input:focus {
  background-color: transparent;
  z-index: 2;
  height: 50px;
  // border: 2px solid #00838f;
  border-radius: 5px;
}
input:focus::placeholder {
  color: transparent;
}
input:valid {
  background-color: #ffffff;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("https://www.svgrepo.com/show/304563/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  // margin-right: 2rem;
  margin-top: 30px;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 2rem;
}
.search_parent {
  position: relative;
  input {
    padding: 15px 20px 15px 48px;
  }
  img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    left: 16px;
  }
}
.password_parent {
  // width: 250px;
  // border: 1px solid #ddd;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: transparent;
  margin: 20px 0 10px 0;
  input {
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    border: 1px solid var(--ChineseSilver);
    background-color: transparent;
    &:focus ~ label {
      top: -12px;
      color: var(--DarkCyan);
      // background-color: tea;
      z-index: 2;
    }
    &:focus {
      background-color: var(--ChineseSilver);
      border: 1px solid var(--DarkCyan);
      z-index: 2;
      &::placeholder {
        color: transparent;
      }
    }
    &:valid {
      background-color: var(--White);
    }
  }
  span {
    margin: 5px 0;
    color: red;
    opacity: 0;
  }
  .tribute {
    position: absolute;
    right: 30px;
    top: 13px;
  }
}
.password_parent.active {
  input {
    border: 1px solid red;
    &:focus ~ label {
      top: -12px;
      color: red;
      // background-color: tea;
      z-index: 2;
    }
  }
  span {
    opacity: 1;
  }
}
.password_parent label {
  position: absolute;
  left: 15px;
  z-index: -2;
  top: 15px;
  transition: top 0.4s;
}

#hide {
  display: none;
}
.form_x {
  h3 {
    margin-bottom: 30px;
  }
  h5 {
    // font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    margin: 20px 0 0 0;
    text-align: left;
  }
}

.switch_parent {
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;

    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: var(--DarkCyan);
      }
      &:focus + .slider {
        box-shadow: 0 0 1px var(--DarkCyan);
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
      }
      &:disabled + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
        opacity: 50%;
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 48px;
      height: 24px;
      border-radius: 50px;
      background: rgba(204, 204, 204, 0.4);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      // &:hover {
      //   border: solid var(--DarkCyan);
      // }
      &:before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      p {
        margin: 0 0 0 60px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}
