* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --White: #ffffff;
  --Rhythm: #69779b;
  --CaribbeanGreen: #00c5a2;
  --OldLavender: #756c83;
  --AmericanPurple: #432160;
  --ChineseBlue: #415b90;
  --DarkSlateGray: #314a52;
  --MaximumRedPurple: #a03c78;
  --DarkLavender: #6f539b;
  --MetallicBlue: #3c5186;
  --TiffanyBlue: #0fabbc;
  --PoliceBlue: #394a6d;
  --Corn: #fbeb5b;
  --LimeGreen: #4be133;
  --OldRose: #394a6d;
  --Magnolia: #f4f3fe;
  --ChineseSilver: #cccccc;
  --LavenderGray: #c5c0db;
  --DeepGreen-CyanTurquoise: #206d62;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
}

.DarkLavender {
  background-color: var(--DarkLavender);
}

.DeepGreen-CyanTurquoise {
  background-color: var(--DeepGreen-CyanTurquoise);
}

.LavenderGray {
  background-color: var(--LavenderGray);
}

.DarkSlateGray {
  background-color: var(--DarkSlateGray);
}

.ChineseBlue {
  background-color: var(--ChineseBlue);
}

.ChineseSilver {
  background-color: var(--ChineseSilver);
}

.Corn {
  background-color: var(--Corn);
}

.Magnolia {
  background-color: var(--Magnolia);
}

.OldRose {
  background-color: var(--OldRose);
}

.LimeGreen {
  background-color: var(--LimeGreen);
}

.PoliceBlue {
  background-color: var(--PoliceBlue);
}

.TiffanyBlue {
  background-color: var(--TiffanyBlue);
}

.MetallicBlue {
  background-color: var(--MetallicBlue);
}

.MaximumRedPurple {
  background-color: var(--MaximumRedPurple);
}

.DarkCyan {
  background-color: var(--DarkCyan);
}

.TurkishRose {
  background-color: var(--TurkishRose);
}

.Rhythm {
  background-color: var(--Rhythm);
}

.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}

.AmericanPurple {
  background-color: var(--AmericanPurple);
}

.TurkishRose {
  background-color: var(--TurkishRose);
}

.Gunmetal {
  background-color: var(--Gunmetal);
}

.ViridianGreen {
  background-color: var(--ViridianGreen);
}

.Rhythm {
  background-color: var(--Rhythm);
}

.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}

.OldLavender {
  background-color: var(--OldLavender);
}

.White {
  background-color: var(--White);
  color: var(--White);
}

.WhiteC {
  color: var(--White);
}

a {
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Montserat);
  color: var(--Gunmetal);
  font-weight: 500;
  line-height: 110%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 500;
  font-size: 43px;
  margin-bottom: 60px;
  line-height: 52px;
}

h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 48px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid var(--Gunmetal);
  margin: 40px 0;
}

ul li {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
}

a,
label,
::-webkit-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
:-ms-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
::-ms-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
::placeholder {
  font-family: var(--Montserat);
}

p,
span,
li {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
}

img {
  width: 100%;
  max-width: 100%;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-7 {
  padding-top: 70px;
}

.pt-8 {
  padding-top: 80px;
}

.pt-9 {
  padding-top: 90px;
}

.pt-10 {
  padding-top: 100px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pb-10 {
  padding-bottom: 100px;
}

button {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

button:disabled {
  opacity: 0.5;
  background-color: unset;
  color: var(--ChineseSilver);
  border: 1px solid rgba(204, 204, 204, 0.4);
}

.default-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--ChineseSilver);
}

.important-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--DarkCyan);
  color: var(--White);
}

.primary-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--Gunmetal);
  color: var(--White);
}

.danger-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: #ea5f5e;
  color: var(--White);
}

nav {
  height: 60px;
  padding: 18px 0;
  background-color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

nav .navbar img {
  width: 177px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navlinks .dropdown:after {
  content: url(https://www.svgrepo.com/show/304563/arrow-down.svg);
  position: relative;
  top: 7px;
  margin-left: 5px;
}

.tab {
  float: left;
}

.tab__group {
  position: relative;
  height: 340px;
}

.tab__group:after {
  content: "";
  display: block;
  clear: both;
}

.tab__label {
  display: inline-block;
  padding: 0 20px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  color: var(--DarkCyan);
  border-bottom: 3px solid var(--DarkCyan);
}

.tab__content {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  right: 0;
  margin: 10px 0;
  overflow-x: auto;
  background: #fff;
}

.tab__radio {
  display: none;
}

.tab__radio:not(:checked) ~ .tab__label {
  font-size: 16px;
  font-weight: 400;
  color: var(--Gunmetal);
  background: transparent;
  border-bottom: 0;
}

.tab__radio:not(:checked) ~ .tab__content {
  display: none;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

#overlay_ {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #2c333a52;
}

.overlay .it_card {
  background-color: var(--White);
  max-width: 550px;
  min-height: 330px;
}

.overlay .it_card .it_top {
  height: 70px;
  background-color: var(--ChineseSilver);
  text-align: center;
  padding-top: 20px;
}

.overlay .it_card .it_top h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overlay .it_card .it_content {
  padding: 20px;
}

.overlay .it_card .bbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .it_card .bbtn button {
  width: 25%;
  margin-right: 45px;
}

.overlay .it_card .bbtn div {
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--Montserat);
}

table {
  border-collapse: collapse;
  font-family: var(--Montserat);
  margin: 25px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

table thead tr {
  background-color: var(--LavenderGray);
  text-align: left;
  border: 1px solid var(--Gunmetal);
  color: var(--Gunmetal);
  font-weight: 500;
}

table thead tr:nth-of-type(1) {
  background-color: #f3f3f3;
}

table tbody tr {
  border: 1px solid var(--Gunmetal);
  font-size: 15px;
}

table tbody tr:nth-of-type(1) {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

table th,
table td {
  padding: 18px;
}

.pagination {
  display: inline-block;
  width: 100%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  font-weight: 600;
  padding: 8px 16px;
  margin: 0 5px;
  text-decoration: none;
}

.pagination a:hover {
  color: var(--DarkCyan);
}

.pagination a.active {
  border-bottom: 3px solid var(--DarkCyan);
  font-weight: 600;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.top_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bottom_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  bottom: -12px;
  left: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tools_tip {
  background-color: var(--ChineseSilver);
  padding: 16px;
  border-radius: 5px;
  margin: 30px 0;
  position: relative;
}

.tools_tip p {
  margin: 0;
}

pre {
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 20px;
  max-height: 450px;
  overflow: scroll;
}

.input_parent {
  margin: 25px 0;
  height: 50px;
  font-style: var(--Montserat);
  position: relative;
  background-color: transparent;
}

.input_parent label {
  position: absolute;
  left: 15px;
  z-index: -2;
  top: 15px;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

input {
  width: 100%;
  font-style: var(--Montserat);
  padding: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  outline: 0;
  background-color: transparent;
}

.radio {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.radio p {
  opacity: 50%;
  margin-top: 0;
  margin-left: 40px;
}

.radio input {
  display: none;
}

.radio input:disabled {
  display: none;
}

.radio input + span {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.radio input + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #00838f;
}

.radio input + span::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00838f;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input + h3 {
  display: block;
  position: relative;
  padding-top: 23px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
}

.radio input + h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #00838f;
}

.radio input + h3::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00838f;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked + span::after,
.radio input:checked + h3::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.radio_disabled {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.radio_disabled input:disabled {
  display: none;
}

.radio_disabled input:disabled + span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
}

.radio_disabled input:disabled + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: #f4f3fe;
}

.radio_disabled input:disabled + span::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c5c0db;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.check_parent .checkbox {
  display: block;
  font-family: var(--Nunito);
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 400;
  -webkit-user-select: none;
  border-radius: 5px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check_parent .checkbox p {
  opacity: 50%;
}

.check_parent .checkbox input {
  position: absolute;
  width: auto;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
}

.check_parent .checkbox input:checked ~ .checkmark {
  background-color: var(--DarkCyan);
}

.check_parent .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.check_parent .checkbox input:disabled ~ .checkmark {
  background-color: var(--ChineseSilver);
}

.check_parent .checkbox .checkmark {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  border-radius: 5px;
  height: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 25px;
  background-color: #f4f3fe;
}

.check_parent .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus ~ label {
  top: -15px;
  color: #00838f;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  z-index: 2;
}

input:focus {
  background-color: transparent;
  z-index: 2;
  height: 50px;
  border-radius: 5px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input:valid {
  background-color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("https://www.svgrepo.com/show/304563/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 2rem;
}

.search_parent {
  position: relative;
}

.search_parent input {
  padding: 15px 20px 15px 48px;
}

.search_parent img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  left: 16px;
}

.password_parent {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: transparent;
  margin: 20px 0 10px 0;
}

.password_parent input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: 0;
  border: 1px solid var(--ChineseSilver);
  background-color: transparent;
}

.password_parent input:focus ~ label {
  top: -12px;
  color: var(--DarkCyan);
  z-index: 2;
}

.password_parent input:focus {
  background-color: var(--ChineseSilver);
  border: 1px solid var(--DarkCyan);
  z-index: 2;
}

.password_parent input:focus::-webkit-input-placeholder {
  color: transparent;
}

.password_parent input:focus:-ms-input-placeholder {
  color: transparent;
}

.password_parent input:focus::-ms-input-placeholder {
  color: transparent;
}

.password_parent input:focus::placeholder {
  color: transparent;
}

.password_parent input:valid {
  background-color: var(--White);
}

.password_parent span {
  margin: 5px 0;
  color: red;
  opacity: 0;
}

.password_parent .tribute {
  position: absolute;
  right: 30px;
  top: 13px;
}

.password_parent.active input {
  border: 1px solid red;
}

.password_parent.active input:focus ~ label {
  top: -12px;
  color: red;
  z-index: 2;
}

.password_parent.active span {
  opacity: 1;
}

.password_parent label {
  position: absolute;
  left: 15px;
  z-index: -2;
  top: 15px;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

#hide {
  display: none;
}

.form_x h3 {
  margin-bottom: 30px;
}

.form_x h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  margin: 20px 0 0 0;
  text-align: left;
}

.switch_parent .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch_parent .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_parent .switch input:checked + .slider {
  background-color: var(--DarkCyan);
}

.switch_parent .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--DarkCyan);
          box-shadow: 0 0 1px var(--DarkCyan);
}

.switch_parent .switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.switch_parent .switch input:disabled + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  opacity: 50%;
}

.switch_parent .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 24px;
  border-radius: 50px;
  background: rgba(204, 204, 204, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch_parent .switch .slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch_parent .switch .slider p {
  margin: 0 0 0 60px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

.banner-ff {
  height: 380px;
  padding-top: 120px;
  margin-top: 60px;
  background-color: var(--Magnolia);
}

.banner-ff .banner_txt h1 {
  font-weight: 600;
}

.nn {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 80px;
}

.typos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.typos aside {
  width: 20%;
}

.typos aside .side_wrap {
  margin-bottom: 200px;
}

.typos aside .side_wrap .club1 {
  margin-bottom: 90px;
}

.typos aside .side_wrap .club1 .current {
  color: var(--White) !important;
  font-weight: 500;
  background-color: var(--DarkCyan);
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.typos aside .side_wrap .club1 .current:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.typos aside .side_wrap .club1 li {
  padding: 16px 14px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.typos aside .side_wrap .club1 li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 500;
}

.typos article {
  width: 70%;
}

.typos article .drive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.typos article .color_box {
  border: 1px solid var(--Gunmetal);
  height: 40px;
}

.typos article .color_box a {
  padding: 10px 16px;
  border: 1px solid var(--Gunmetal);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.note_this {
  margin-bottom: 90px;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 24px;
  min-height: 200px;
  border-radius: 5px;
  margin-bottom: 16px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.color .name {
  margin-right: auto;
}

.color .tables {
  margin-top: 40px;
  width: 40%;
  text-align: center;
}

.color .tables .bb {
  border-bottom: 1px solid var(--Gunmetal);
}

.color .tables .num1 {
  margin-bottom: 10px;
}

.color .tables .num1 span {
  margin: 15px 20px;
}

.color:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.initial {
  margin-bottom: 30px;
}

.initial a {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.initial a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--DarkCyan);
}

.initial h3 {
  margin: 20px 0;
}

.initial hr {
  border: 0.5px solid var(--Gunmetal);
  margin: 15px 0;
}

.initial p {
  max-width: 605px;
}

.chart_plate {
  margin-top: 45px;
}

.chart_plate h3 {
  margin-bottom: 24px;
}

.chart_plate img {
  margin-top: 40px;
}

.note {
  margin-top: 48px;
}

.note h6 {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.note p {
  max-width: 605px;
  margin-top: 12px;
}

.combo h5 {
  margin-top: 40px;
}

.combo .spin span {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.flag {
  margin-top: 20px;
}

.flag .flaghead {
  background-color: var(--ChineseSilver);
  color: var(--White);
  padding: 16px;
  width: 35%;
  position: relative;
}

.flag .flaghead h5 {
  margin-bottom: 10px;
}

.flag .flaghead::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 150px;
  background-color: var(--ChineseSilver);
  bottom: -140%;
  left: 50%;
  position: absolute;
}

.flg h5 {
  margin-top: 30px;
}

.flagss {
  margin-top: 170px;
}

.units .p_size {
  margin-bottom: 25px;
}

.units .p_size p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.units .p_size .unit {
  background-color: var(--ChineseSilver);
  height: 75px;
}

.units .p_size .unit h4 {
  font-weight: 600;
}

.units .p_size .size1of3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 6px solid var(--Gunmetal);
}

.units .p_size .size1of3 h4 {
  font-weight: 600;
}

.units .Gunmetal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.units .Gunmetal h4 {
  color: var(--White);
}

.w_50 {
  width: 48.5%;
}

.w_80 {
  width: 75%;
}

.w_70 {
  width: 65%;
}

.w_30 {
  width: 32.5%;
}

.w_25 {
  width: 23.5%;
}

.size2of3 {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size2of3 .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size2of3 h4 {
  color: var(--White);
}

.max_605 {
  max-width: 605px;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no1 {
  margin-bottom: 80px;
  margin-top: 25px;
}

.no1 h6 {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.gutter {
  margin-top: 60px;
}

.resp {
  margin-bottom: 60px;
}

.resp h3 {
  margin-bottom: 20px;
}

.nuni {
  margin-top: 48px;
}

.nuni h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.headings .p_head {
  margin-top: 21px;
}

.headings .p_head h1,
.headings .p_head h2,
.headings .p_head h3,
.headings .p_head h4,
.headings .p_head h5 {
  margin: 0;
  font-weight: 600;
}

.headings .p_head h1 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.headings .p_head h5 {
  color: #818181;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.headings .p_head p {
  color: #818181;
}

.headings .h_body {
  margin-top: 20px;
}

.headings .h_body h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.headings .h_body h5,
.headings .h_body p {
  color: #818181;
  font-weight: 400;
  margin: 0;
}

.paragraph {
  margin-top: 80px;
}

.paragraph h4 {
  margin-top: 22px;
}

.paragraph h3 {
  margin-bottom: 20px;
}

.sec1 {
  margin-bottom: 50px;
}

.sub_sec {
  margin-top: 40px;
}

.sub_sec h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  letter-spacing: 0px;
  text-align: left;
}

.examples button {
  width: auto;
  padding: 8px 30px;
  margin-right: 10px;
}

.unit4 {
  margin-top: 40px;
}

.unit4 .note {
  margin: 0;
}

.s_margin {
  margin-top: 55px;
  margin-bottom: 30px;
}

.iconography h2 {
  margin-bottom: 10px;
}

.iconography .initial {
  margin-top: 40px;
}

.iconography .icon_page .brand_icons {
  height: 393px;
  width: 100%;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
  margin: 30px 0;
}

.icon_sizes {
  margin: 20px 0;
}

.icon_theme h3 {
  margin: 15px 0;
}
/*# sourceMappingURL=sample.css.map */