<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/instincthub-thumnail.png"
    />
    <title>Instincthub - Dialog</title>
    <link rel="stylesheet" href="../assets/scss/sample.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav>
        <div class="container navbar">
          <img src="../assets/svgs/instinctHub.svg" alt="" />
        </div>
      </nav>

      <section class="banner-ff">
        <div class="banner_txt container">
          <h1>Instincthub Pattern Library</h1>
          <p>Our pattern library used to build the instincthub application.</p>
        </div>
      </section>

      <article class="container typos">
        <!-- ===========
        SELECTION FIELD
        ================ -->
        <aside>
          <div class="side_wrap">
            <h5>FOUNDATION</h5>

            <ul class="club1">
              <li><a href="../index.html">Color</a></li>
              <li>
                <a href="../components/visual.html">Data Visualization</a>
              </li>
              <li>
                <a href="../components/grid.html">Grid System</a>
              </li>
              <li>
                <a href="../components/typo.html">Typography</a>
              </li>
            </ul>

            <h5>COMPONENTS</h5>
            <ul class="club1">
              <li>
                <a href="../components/button.html">Button</a>
              </li>
              <li class="current">
                <a href="../components/dialog.html">Dialog</a>
              </li>
              <li><a href="../components/tools.html">Tools Box</a></li>
              <li><a href="../components/form.html">Form Elements</a></li>
              <li><a href="../components/nav.html">Navigation</a></li>
              <li><a href="../components/helper.html">Helper Classes</a></li>
              <li><a href="../components/icon.html">Iconography</a></li>
            </ul>
          </div>
        </aside>
        <!-- ============
        CONTENTS SELECTED
        ================= -->

        <article>
          <div class="dialog">
            <h2>Dialog</h2>
            <div class="initial">
              <a href="#">Generic Dialog</a>
              <a href="#">Featured Dialog</a>

              <hr />
              <h3>Generic Dialog</h3>
              <p>
                We use modals and dialogs for a variety of different purposes
                throughout the app including forms and verification prompts.
              </p>

              <h4>Example</h4>
              <button
                class="default-btn"
                style="width: 214px"
                onclick="showOverlay()"
              >
                Show Generic Modal
              </button>
            </div>

            <div class="d_flex unit4 s_margin">
              <pre class="w_50">
&lt;form action="" class="overlay" id="overlay_"&gt;
    &lt;div class="it_card">
      &lt;div class="it_top">
        &lt;h4>Are you sure ?&lt;/h4&gt;
      &lt;/div&gt;

      &lt;div class="it_content&gt;
          &lt;p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis nesciunt ipsam dolore optio velit mollitia obcaecati
            earum architecto. Magnam, atque. Quos tempora sit accusamus fugit
            laborum error cumque, aut eos?
          &lt;/p&gt;

            &lt;div class="bbtn"&gt;
              &lt;button class="important-btn" type="submit">Accept&lt;/button&gt;
              &lt;div onclick="remove_class()">Cancel&lt;/div&gt;
            &lt;/div&gt;

      &lt;/div&gt;

    &lt;/div&gt;
&lt;/form&gt;
              </pre>

              <div class="note w_50">
                <h6>Note</h6>
                <p>
                  Modals in the app are defined using Dijit's Dialog plugin. The
                  modal_id is used to bind the button onclick events to
                  show/hide the modal.
                </p>
                <p>
                  The primary action in the modal and dialog appears before the
                  secondary action.
                </p>
              </div>
            </div>

            <div class="s_margin">
              <h3>Feature Dialog</h3>
              <h4>Example</h4>
              <button class="default-btn" style="width: 214px">
                Show Feature Modal
              </button>
              <div class="d_flex unit4 s_margin">
              <!-- <img src="" alt=""> -->
<pre class="w_50">
  &lt;form action="" class="overlay" id="overlay_"&gt;
      &lt;div class="it_card">
        &lt;div class="it_top">
          &lt;h4>Are you sure ?&lt;/h4&gt;
        &lt;/div&gt;
  
        &lt;div class="it_content&gt;
            &lt;p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis nesciunt ipsam dolore optio velit mollitia obcaecati
              earum architecto. Magnam, atque. Quos tempora sit accusamus fugit
              laborum error cumque, aut eos?
            &lt;/p&gt;
  
              &lt;div class="bbtn"&gt;
                &lt;button class="important-btn" type="submit">Accept&lt;/button&gt;
                &lt;div onclick="remove_class()">Cancel&lt;/div&gt;
              &lt;/div&gt;
  
        &lt;/div&gt;
  
      &lt;/div&gt;
  &lt;/form&gt;
                </pre>
                


                <div class="note w_50">
                  <h6>Note</h6>
                  <p>
                    Use the feature-dialog class to show a dialog with a simpler
                    look and feel.
                  </p>
                  <p>
                    This type of dialog should be used sparingly and not shown
                    more than once. They should be easily dismissible as they
                    don't feature a close icon.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- ============
        CONTENTS SELECTED ENDS
        ================= -->
      </article>

      <form action="" class="overlay" id="overlay_">
        <div class="it_card">
          <div class="it_top">
            <h4>Are you sure ?</h4>
          </div>
          <div class="it_content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis nesciunt ipsam dolore optio velit mollitia obcaecati
              earum architecto. Magnam, atque. Quos tempora sit accusamus fugit
              laborum error cumque, aut eos?
            </p>
            <div class="bbtn">
              <button class="important-btn" type="submit">Accept</button>
              <div onclick="remove_class()">Cancel</div>
            </div>
          </div>
        </div>
      </form>
    </main>

    <script src="../assets/js/overlay.js"></script>
  </body>
</html>
