<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/instincthub-thumnail.png"
    />
    <title>Instincthub - Navigation</title>
    <link rel="stylesheet" href="../assets/scss/sample.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav>
        <div class="container navbar">
          <img src="../assets/svgs/instinctHub.svg" alt="" />
        </div>
      </nav>

      <section class="banner-ff">
        <div class="banner_txt container">
          <h1>Instincthub Pattern Library</h1>
          <p>Our pattern library used to build the instincthub application.</p>
        </div>
      </section>

      <article class="container typos">
        <!-- ===========
        SELECTION FIELD
        ================ -->
        <aside>
          <div class="side_wrap">
            <h5>FOUNDATION</h5>

            <ul class="club1">
              <li><a href="../index.html">Color</a></li>
              <li>
                <a href="../components/visual.html">Data Visualization</a>
              </li>
              <li>
                <a href="../components/grid.html">Grid System</a>
              </li>
              <li>
                <a href="../components/typo.html">Typography</a>
              </li>
            </ul>

            <h5>COMPONENTS</h5>
            <ul class="club1">
              <li>
                <a href="../components/button.html">Button</a>
              </li>
              <li>
                <a href="../components/dialog.html">Dialog</a>
              </li>
              <li>
                <a href="../components/tools.html">Tools Box</a>
              </li>
              <li>
                <a href="../components/form.html">Form Elements</a>
              </li>
              <li class="current">
                <a href="../components/nav.html">Navigation</a>
              </li>
              <li><a href="../components/helper.html">Helper Classes</a></li>
              <li><a href="../components/icon.html">Iconography</a></li>
            </ul>
          </div>
        </aside>
        <!-- ============
        CONTENTS SELECTED
        ================= -->

        <article>
          <div class="nav_kit">
            <h2>Navigation</h2>

            <div class="initial">
              <a href="#">Local Navigation</a>
              <a href="#">Tabs</a>

              <hr />
              <h3>Local Navigation</h3>

              <div class="nav_space">
                <h5>Example</h5>

                <ul class="navlinks max_605">
                  <li><a href="" class="dropdown">Dropdown</a></li>
                  <li><a href="">Pricing</a></li>
                  <li><a href="">Bootcamp</a></li>
                  <li><a href="">Scoreboard</a></li>
                  <li><a href="">Forum</a></li>
                </ul>
              </div>

              <!-- Note Template -->
              <div class="d_flex unit4">
                <pre class="w_50">
&lt;ul class="navlinks"&gt;

    &lt;li&gt;&lt;a href="" class="dropdown"&gt;Dropdown&lt;/a>&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;Pricing&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;Bootcamp&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;Scoreboard&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;Forum&lt;/a>&lt;/li&gt;

&lt;/ul&gt;

                </pre>
                <div class="note w_50">
                  <h6>Note</h6>
                  <p>
                    Consider using other select forms before introducing multi
                    select as these should be used sparingly. It is not the most
                    effective way to display large amounts of data.
                  </p>
                 <p>You can find the style on line 391 - 404</p>
                </div>
              </div>
              <!-- Ends -->
            </div>

            <!-- Tabs
            ============== -->
            <div class="tab_parent s_margin">
              <h3>Tabs</h3>
              <h5>Examples</h5>
              <div class="tab__group">
                <div class="tab">
                  <input
                    class="tab__radio"
                    type="radio"
                    id="tab-1"
                    name="tab-group-1"
                    checked
                  />
                  <label class="tab__label" for="tab-1">Tab One</label>

                  <div class="tab__content">
                    <!-- Note Template -->
                    <div class="d_flex unit4">
                      <pre class="w_50">
&lt;div class="tab_parent"&gt;
  &lt;div class="tab__group"&gt;

  TAB1
    &lt;div class="tab"&gt;
      &lt;input
        class="tab__radio"
        type="radio"
        id="tab-1"
        name="tab-group-1"
        checked
      /&gt;
      &lt;label class="tab__label" for="tab-1"&gt;Tab One &lt;/label&gt;

      &lt;div class="tab__content"
        Your Content here
      &lt;/div&gt;
    &lt;/div&gt;

    TAB2
    &lt;div class="tab"&gt;
      &lt;input
        class="tab__radio"
        type="radio"
        id="tab-2"
        name="tab-group-1"
        checked
      /&gt;
      &lt;label class="tab__label" for="tab-2"&gt;Tab Two &lt;/label&gt;

      &lt;div class="tab__content"
        Your Content here 2
      &lt;/div&gt;
    &lt;/div&gt;

    TAB3
    &lt;div class="tab"&gt;
      &lt;input
        class="tab__radio"
        type="radio"
        id="tab-3"
        name="tab-group-1"
        checked
      /&gt;
      &lt;label class="tab__label" for="tab-3"&gt;Tab Three &lt;/label&gt;

      &lt;div class="tab__content"
        Your Content here
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

                </pre
                      >
                      <div class="note w_50">
                        <h6>Note</h6>
                        <p>
                          Consider using other select forms before introducing
                          multi select as these should be used sparingly. It is
                          not the most effective way to display large amounts of
                          data.
                        </p>
                       <p>You can find the style from line 406 - 470</p>
                       
                      </div>
                    </div>

                    <!-- Ends -->
                  </div>
                </div>

                <div class="tab">
                  <input
                    class="tab__radio"
                    type="radio"
                    id="tab-2"
                    name="tab-group-1"
                  />
                  <label class="tab__label" for="tab-2">Tab Two</label>

                  <div class="tab__content">stuff 2</div>
                </div>

                <div class="tab">
                  <input
                    class="tab__radio"
                    type="radio"
                    id="tab-3"
                    name="tab-group-1"
                  />
                  <label class="tab__label" for="tab-3">Tab Three</label>

                  <div class="tab__content">
                    stuff 3
                    <img src="http://placehold.it/300x300" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- ============
        CONTENTS SELECTED ENDS
        ================= -->
      </article>
    </main>

    <script src="../assets/js/password.js"></script>
  </body>
</html>
